<div>
    <p class="pokemon-id-back">{{pokemon.id}}</p>
<div class="pokemon-imagen">
    <!-- <img src="${poke.sprites.other["official-artwork"].front_default}" alt="${poke.name}"> -->
</div>
<div class="pokemon-info">
    <div class="nombre-contenedor">
        <p class="pokemon-id">{{pokemon.id}}</p>
        <h2 class="pokemon-nombre">{{pokemon.name}}</h2>
    </div>
  <!--   <div class="pokemon-tipos">
        ${tipos}
    </div>
    <div class="pokemon-stats">
        <p class="stat">${poke.height}m</p>
        <p class="stat">${poke.weight}kg</p>
    </div> -->
</div>
</div>